*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 0.62rem;
}

@font-face {
  font-family: 'AvenirLTStd-light';
  src: url(../fonts/AvenirLTStd-Light.otf);
}
@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url(../fonts/AvenirLTStd-Medium.otf);
}
body {
  font-family: 'AvenirLTStd-light';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'AvenirLTStd-Medium';
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  color: #898989;
  font-size: 2.2rem;
}
@media (max-width: 767px) {
  p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1475px;
  }
}

.yellowColor {
  color: #FCFF1A;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #FFF;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3F3A9E;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3F3A9E;
}

ul {
  padding: 0;
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

.no_padding {
  padding: 0;
}

.section-lg {
  padding: 10rem 0;
}

.section-md {
  padding: 6rem 0;
}

img {
  display: block;
  max-width: 100%;
}

.custom-btn-aft-bef {
  background-color: #E0DF0C;
  padding: 1.3rem 2rem;
  border: none;
  color: #3F3A9E;
  font-size: 2rem;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
.custom-btn-aft-bef:after {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #FDFC0C;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
}
.custom-btn-aft-bef:hover:after {
  height: 150%;
}
.custom-btn-aft-bef.blue {
  background-color: #3530A5;
  color: #FFF;
}
.custom-btn-aft-bef.blue:after {
  background-color: #3F3A9E;
}

/* title-head
================ */
.title-head {
  color: #FCFF1A;
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
}
@media (max-width: 767px) {
  .title-head {
    font-size: 2.5rem;
  }
}
.title-head span {
  color: #fff;
}

.title-head.blue {
  color: #3F3A9E;
}
.title-head.blue span {
  color: #343436;
}

/* margin custom
============================*/
.ml-m {
  margin-left: -3.5rem !important;
}

.ml-p {
  margin-left: 6rem !important;
}

/* slick dots
==============*/
.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -30px;
}
.slick-dots > li {
  display: inline-block;
  height: 8px;
  background-color: #898989;
  width: 8px;
  margin-right: 1.5rem;
  border-radius: 35px;
  cursor: pointer;
}
.slick-dots > li.slick-active {
  background-color: #3F3A9E;
  width: 25px;
}
.slick-dots > li > button {
  display: none;
}

/* form-group
==================*/
.form-group {
  margin-bottom: 0.7rem;
}
.form-group label {
  font-size: 2rem;
}
.form-group .form-control {
  border: 1px solid #707070;
  border-radius: 0;
  padding: 1rem;
}
.form-group .form-control:focus {
  -webkit-box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
}

/* socail-icon
=================*/
.socail-icon li {
  display: inline-block;
}
.socail-icon li a {
  display: block;
  margin: 0 0.7rem;
}
.socail-icon li a img {
  opacity: 0.8;
  width: 23px;
}
.socail-icon li a img:hover {
  opacity: 1;
}

#scroll {
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  display: none;
}
#scroll img {
  width: 25px;
  position: relative;
  left: -12px;
}
#scroll:after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  border-width: 20px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: #3F3A9E;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  z-index: -1;
}

/* Preload */
.load {
  background-color: #3F3A9E;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.load img {
  width: 150px;
  animation: opac 0.9s ease-in-out  alternate-reverse infinite;
}

@-webkit-keyframes opac {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes opac {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* section-title
========================= */
.section-title.with-aft .title-head {
  display: inline-block;
}
.section-title.with-aft .title-head::before {
  content: "";
  position: absolute;
  top: -130px;
  background-image: url(../images/undraw_in_progress.svg);
  width: 200px;
  height: 150px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  right: -180px;
}
@media (max-width: 991px) {
  .section-title.with-aft .title-head::before {
    right: 0;
    top: -150px;
  }
}
.section-title .title-head {
  text-transform: uppercase;
  position: relative;
}
.section-title .title-head::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  height: 3px;
  width: 180px;
  background-color: #3F3A9E;
}

/* welcome-widget
========================== */
.welcome-widget {
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 2rem 1rem;
  -webkit-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
}
.welcome-widget:hover {
  -webkit-box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
}
.welcome-widget .content {
  margin-left: auto;
  display: inline-block;
  margin-bottom: 1rem !important;
}
.welcome-widget .content img {
  width: 85px;
  margin-left: auto;
  margin-bottom: 1rem;
}
.welcome-widget .content h3 {
  display: inline-block;
  color: #343436;
}
@media (max-width: 767px) {
  .welcome-widget .content {
    display: block;
    text-align: center;
  }
  .welcome-widget .content h3 {
    display: block;
  }
  .welcome-widget .content img {
    margin-right: auto;
  }
}
.welcome-widget p {
  font-size: 2rem;
}
@media (max-width: 1460px) and (min-width: 1200px) {
  .welcome-widget h3 {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  .welcome-widget h3 {
    font-size: 2.2rem;
  }
}

/* brand
======================*/
.brand {
  margin: 2rem;
}
.brand a {
  max-width: 250px;
  height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  background-color: #FFF;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.16);
}
.brand a img {
  width: 100%;
  margin: auto;
}
@media (max-width: 767px) {
  .brand {
    margin: 2rem auto !important;
  }
  .brand a {
    margin: auto;
  }
}

/* artical
============================ */
.artical {
  padding: 1.6rem;
  margin-bottom: 0.8rem;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.artical p {
  font-size: 2rem !important;
  margin: 0;
}
.artical__image img {
  margin-bottom: 1.2rem;
}
.artical__title {
  color: #343436;
}
.artical__info {
  position: relative;
}
.artical__date {
  display: inline-block;
}
.artical__date img {
  display: inline-block;
  width: 22px;
}
.artical__date p {
  display: inline-block;
  vertical-align: middle;
}
.artical__author {
  display: inline-block;
  margin-left: 1rem;
}
.artical__author img {
  display: inline-block;
  width: 22px;
}
.artical__author p {
  color: #3F3A9E;
  display: inline-block;
  vertical-align: middle;
}
.artical__share {
  margin-top: 1.6rem;
}
.artical__share p {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 0.5rem;
  color: #343436;
}
.artical__share ul {
  display: inline-block;
  vertical-align: text-top;
}
.artical__share ul li {
  display: inline-block;
}
.artical__author-1 {
  display: none;
  border-top: 2px solid #3F3A9E;
  padding: 2rem 0;
  margin: 0;
  font-weight: bold;
}
.artical__author-1 img {
  margin-right: 2.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.artical.artical-noimg {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.artical.artical-noimg .artical__image {
  display: none;
}
.artical.artical-noimg .artical__title {
  margin-bottom: 3rem;
}
.artical.artical-noimg .artical__content {
  padding-bottom: 3.5rem;
}
.artical.artical-noimg .artical__share {
  display: none;
}
.artical.artical-noimg .artical__author {
  display: none;
}
.artical.artical-noimg .artical__author.artical__author-1 {
  display: block;
}
.artical.artical-noimg .artical__date {
  position: absolute;
  bottom: 5px;
  right: 0;
}
.artical.artical-sm {
  padding: 0.5rem;
}
.artical.artical-sm .artical__date p,
.artical.artical-sm .artical__author p {
  font-size: 1.2rem !important;
}
.artical.artical-sm .artical__date img,
.artical.artical-sm .artical__author img {
  width: 18px;
}
.artical.artical-sm .artical__author-1 img {
  width: 50px;
}
.artical.artical-sm .artical__author-1 p {
  font-size: 2rem !important;
}
.artical.artical-side {
  overflow: hidden;
}
.artical.artical-side .artical__image {
  float: left;
  width: 300px;
}
.artical.artical-side .artical__info {
  float: right;
  width: calc(100% - 320px);
}
.artical.artical-side .artical__content p {
  height: 182px;
  overflow: hidden;
  padding-top: 9px;
}
.artical.artical-side.artical-side-v2 .artical__image {
  float: left;
  width: 180px;
}
.artical.artical-side.artical-side-v2 .artical__info {
  float: right;
  width: calc(100% - 200px);
}
.artical.artical-side.artical-side-v2 .artical__share {
  display: none;
}
.artical.artical-side.artical-side-v2 .artical__content {
  height: 60px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .artical.artical-side .artical__image {
    float: none;
    width: 100%;
  }
  .artical.artical-side .artical__info {
    float: none;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .artical.artical-side.artical-side-v2 .artical__image {
    float: none;
    width: 100%;
  }
  .artical.artical-side.artical-side-v2 .artical__info {
    float: none;
    width: 100%;
  }
}

/*our-service
======================= */
.our-service__widget {
  text-align: center;
}
.our-service__widget img {
  height: 150px;
}
.our-service__widget h3 {
  text-transform: capitalize;
  margin-top: 1rem;
}
@media (max-width: 1199px) and (min-width: 991px) {
  .our-service__widget h3 {
    font-size: 2.1rem;
  }
  .our-service__widget p {
    font-size: 1.8rem;
  }
}

.navbar-toggler {
  display: none;
}
.navbar-toggler img {
  width: 15px;
  margin: 0.7rem 0;
}
@media (max-width: 991px) {
  .navbar-toggler {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFF;
    background-color: #FCFF1A;
    color: #3F3A9E;
  }
}

  /* nav
=================== */
nav {
  border-top: 5px solid #FCFF1A;
  padding-bottom: 5rem;
}
nav.has-bg {
  background-image: url(../images/nav-bg.svg);
  padding-bottom: 15rem;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
@media (min-width: 991px) {
  nav .collapse {
    display: inline-block;
  }
  nav .collapse li {
    display: inline-block;
  }
}
nav img {
  width: 200px;
}
@media (max-width: 991px) {
  nav img {
    width: 150px;
  }
}
@media (max-width: 991px) {
  nav ul {
    position: absolute !important;
    left: 0;
    top: 16px;
    right: 0;
    text-align: center;
    z-index: 20;
    background-color: #3F3A9E;
  }
  nav ul li:last-child a {
    display: block;
    width: 90%;
    margin: 1rem auto;
  }
}
nav ul li a {
  color: #FFF;
  padding: 2.5rem 1.6rem 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover, nav ul li a.active {
  color: #FCFF1A;
}
nav ul li:last-child a {
  color: #343436;
  color: #343436;
  padding: 1rem 1.6rem;
  border-radius: 8px;
  background: #FCFF1A;
}

/*footer
====================*/
footer {
  background-image: url(../images/footer-bg.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  padding: 19rem 0 5rem;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 1.6rem;
}
footer p {
  color: #FFF;
  font-size: 1.4em;
  margin: 0;
}
footer h4 {
  font-size: 1.8em;
}
footer .copy-right {
  padding-top: 2rem;
}
footer .copy-right p {
  display: inline-block;
  position: relative;
}
footer .copy-right p:after {
  content: "";
  width: 80%;
  height: 2px;
  background-color: #FCFF1A;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
footer .copy-right span {
  color: #FCFF1A;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
    font-size: 1.2rem;
  }
}

header {
  background-image: url(../images/home-bg.png);
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  padding-bottom: 48rem;
  background-position: top center;
  background-repeat: no-repeat;
}
@media (max-width: 1700px) {
  header {
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.home .home-img {
  padding-top: 0;
}
@media (max-width: 991px) {
  .home .home-img {
    display: none;
    padding: 0;
  }
}
.home .title-home {
  padding: 20rem 0 2.5rem;
}
@media (max-width: 991px) {
  .home .title-home {
    padding: 15rem 0 3rem;
  }
}
@media (min-width: 1242px) {
  .home h1 {
    font-size: 5.7rem;
  }
}
.home p {
  color: #FFF;
}
@media (max-width: 500px) {
  .home h1 {
    font-size: 2.8rem;
  }
  .home p br {
    display: none;
  }
}

/* why-we
============================ */
.why-we {
  margin-top: 15rem;
}
@media (max-width: 991px) {
  .why-we {
    margin-top: 9.6rem;
  }
}
.why-we h2 {
  text-transform: uppercase;
  font-size: 3.8rem;
  margin-bottom: 3.2rem;
}
@media (max-width: 767px) {
  .why-we h2 {
    font-size: 2.2rem;
  }
}
.why-we p {
  margin-bottom: 5rem;
}

/* welcome
====================== */
.welcome {
  position: relative;
  margin-top: -40rem;
}
@media (max-width: 991px) {
  .welcome {
    margin-top: -20rem;
  }
}
.welcome .content {
  margin-bottom: 5rem;
}
.welcome .content h2 {
  margin-bottom: 2rem;
}
.welcome .content p {
  color: #898989;
}

/* we-do
======================*/
.we-do {
  background-image: url(../images/who-trust-bg.svg);
  background-position: -100px bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 60% 60%;
  background-size: 60%;
}
.we-do img {
  max-width: 585px;
  width: 100%;
  margin: auto;
  margin-top: -10rem;
}
@media (max-width: 1200px) {
  .we-do img {
    margin-top: 2rem;
  }
}

/* we-trust
===================*/
.we-trust {
  padding-top: 18rem;
}

/* team
===================*/
.team {
  background-image: url(../images/team-bg.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 20% 20%;
  background-size: 20%;
}
.team .image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
}
.team .image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.team p {
  width: 75%;
}
.team p.title-head {
  font-size: 2.4rem;
  width: 100%;
  margin-bottom: 1rem;
}

/* team-widget
===============*/
.team-widget h4 {
  font-weight: bold;
  color: #343436;
  font-size: 2.2rem;
}

/* contact-us
======================== */
.contact-us iframe {
  width: 100%;
}
.contact-us button {
  background-color: #343436;
  border: 0;
  border-radius: 5px;
  color: #FFF;
  padding: 1rem 5rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
}
.contact-us button:hover {
  -webkit-box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
}

/*define
=================*/
.define__image {
  margin: 1rem auto;
}

/*our-projects
================*/
.our-projects {
  background-image: url(../images/projects-bg.svg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 25rem 0;
  margin-top: -18rem;
}
@media (max-width: 767px) {
  .our-projects {
    padding: 6rem 0 3rem;
    margin: 0;
  }
}
.our-projects__widget {
  margin: 3rem 0;
  text-align: center;
}
.our-projects__widget img {
  -webkit-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
}
.our-projects__widget h3 {
  font-size: 2.4rem;
}
@media (max-width: 1199px) and (min-width: 991px) {
  .our-projects__widget h3 {
    font-size: 2.1rem;
  }
}
.our-projects__widget button {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
}
.our-projects__widget:hover img {
  border-radius: 10px;
}
.our-projects__widget:hover button {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/* blog
================*/
.blog p {
  font-size: 2rem !important;
}
.blog .section-title p {
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #707070;
}
.blog .socail-icon a {
  margin: 0.8rem 0rem;
}
.blog .socail-icon a img {
  opacity: 1;
}

.grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(13, auto);
  grid-template-rows: repeat(12, auto);
}

.grid1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid2 {
  grid-column-start: 7;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid3 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}

.grid4 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 7;
}

.grid5 {
  grid-column-start: 10;
  grid-column-end: 14;
  grid-row-start: 3;
  grid-row-end: 6;
}

.grid6 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}

.grid7 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 9;
}

.grid8 {
  grid-column-start: 10;
  grid-column-end: 14;
  grid-row-start: 6;
  grid-row-end: 8;
}

.grid9 {
  grid-column-start: 10;
  grid-column-end: 14;
  grid-row-start: 8;
  grid-row-end: 12;
}

.grid10 {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 12;
}

@media (max-width: 991px) {
  .grid-container {
    grid-template-rows: repeat(23, auto);
  }

  .grid1 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .grid2 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .grid3 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  .grid6 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 7;
    grid-row-end: 12;
  }

  .grid4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 12;
    grid-row-end: 16;
  }

  .grid5 {
    grid-column-start: 7;
    grid-column-end: 14;
    grid-row-start: 12;
    grid-row-end: 15;
  }

  .grid7 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 16;
    grid-row-end: 18;
  }

  .grid8 {
    grid-column-start: 7;
    grid-column-end: 14;
    grid-row-start: 16;
    grid-row-end: 18;
  }

  .grid9 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 18;
    grid-row-end: 21;
  }

  .grid10 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 21;
    grid-row-end: 23;
  }
}
@media (max-width: 576px) {
  .grid-container {
    display: block;
  }
}


